/*!CK:1456856830!*//*1405350533,*/

._4lcc{border-top:1px solid #dadce0}
.likeUnit{color:gray}.likeUnit .likeUnitImageContainer{width:85px;height:85px}.likeUnit .likeUnitName{max-height:28px;overflow:hidden}.singleLikeUnitName{padding-top:35px}.likeUnit .likeUnitTooltip{display:block;float:left;margin-right:10px;width:85px}.likeUnit .likeUnitNoMargin{margin-right:0}

#bootloader_8O_pI { height: 42px; }
.bootloader_8O_pI { display:block !important; }