/*!CK:2987273246!*//*1405309241,*/

._35ee{border-top:1px dashed #e9eaed;color:#627aad;cursor:pointer;font-size:13px;height:20px;line-height:20px;position:relative}._35ee .metadataFragment{background-color:#ebeef4;-webkit-border-radius:6px;color:#666;font-weight:normal;padding:3px 4px}._35ee ._5usm{margin-top:-5px;position:absolute;right:0;top:50%}

#bootloader_MtX4Q { height: 42px; }
.bootloader_MtX4Q { display:block !important; }