/*!CK:2722563838!*//*1400564626,178138431*/

._1g0r{opacity:.3}._1g0r:hover{opacity:1}._5g24{border:1px solid;border-color:#d9d9d9;max-width:398px;overflow:hidden;width:100%}._5sem ._5g24._5kbs{max-width:none;width:486px}._5g24._5kbs{width:377px}._5g26{line-height:13px;margin:8px 8px 1px 10px}._5g26 a{font-size:11px;font-weight:bold}._5gta{color:gray;font-size:11px;line-height:15px;margin:0 8px 6px 10px}._5gta a{color:gray;font-size:11px}._5lig{background:none;-webkit-border-radius:2px}._5g27{margin:35px 16px 10px 0}._5p3y ._5g26 a,._5p3y ._5gta,._5p3y ._5gta a{font-size:12px}
._51nc{margin:0 -12px}

#bootloader_vT40v { height: 42px; }
.bootloader_vT40v { display:block !important; }